* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    height: auto;
    min-height: 100vh;
    position: relative;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: left;
    align-items: left;
}

ul li {
    list-style: none;
    margin-left: 35px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ff7200;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

table, th, td {
    border: 1px solid #80400B;
}

th {
    background-color: #DD571C;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    padding: 15px;
    text-align: left;
}

td {
    padding: 15px;
    text-align: left;
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #ffeee6;
}

tr:hover {
    background-color: #ffd7be;
}