* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    height: auto;
    min-height: 100vh;
    position: relative;
}

.navbar {
    width: 1200px;
    height: 75px;
    
}

.menu {
    width: 400px;
    /* float: left; */
    position: fixed;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: left;
    align-items: left;
}

ul li {
    list-style: none;
    margin-left: 35px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ff7200;
    text-decoration: underline;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;

    color: #fff;
    position: relative;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 5rem;
    padding-right: 60px;
    margin-top: 10%;
    letter-spacing: 3px;
}

.cn:hover {
    background-color: #fff;
}

.content span {
    color: #ff7200;
    font-size:5rem
}

.form {
    width: 300px;
    height: 400px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: -80px;
    left: 600px;
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 270px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
}

.form input {
    width: 300px;
    height: 20px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    text-align: center;
    font-family: Arial;
}

.select-box {
    width: 270px;
    margin: 10px;
}

/* Styling for the select element */
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    outline: none;
}

/* Styling for the select options */
select option {
    padding: 5px;
}

.btnn {
    width: 300px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #fff;
    color: #ff7200;
}

.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
@media (min-width:400px) and (max-width:960px){
    .form {
    
        position: absolute;
        top:300px ;
        left:0;
       
    }
    .content h1{
        font-size: 5rem;
    }
    .content span{
        font-size: 5rem;
    }
 .main{
    margin-left: 200px;
 }

}
@media (max-width:700px){
    .main{
        margin-left:30px;
    }
    
    .form {
    
        position: absolute;
        top:200px ;
        left: 0;
        width:71vw
       
    }
    a{
        font-size: 2rem;
    }
    .content{
        margin-top: 100px;
    }
    .content span{
        font-size: 3rem;
    }
    .content h1{
        font-size: 3rem;
    }
    .form input {
        width:70vw;
       
    }
    .form h2{
width:65vw
    }
    .btnn{
        width: 70vw;
    }
   
    html,body{
        overflow:auto;
    }
    #stream{
        width: 65vw;
    }
    #event{
        width: 65vw;
    }

}